body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #fff8e1, #ffe0b2);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  color: #02084b;
  margin-bottom: 5px;
}

h2 {
  margin-top: 0;
  color: #51020f;
   font-size: 20px;
}

.form-group {
  margin: 15px 0;
  text-align: left;
 
}

label {
  font-weight: bold;
  color: #030a5a;
  font-size: 18px;
}

input[type="text"], input[type="number"], input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background: #f0c843;
  color: #0e0e0e;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bolder;
}

button:hover {
  background: #70f46b;
}

.total-box {
  background: #fef3c7;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.overlay, .details-screen, .preview-overlay {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 999;
  overflow-y: auto;
  padding: 20px;
}
